@use 'nxt-cheatsheet' as *;

header.wp-block-template-part {
	background-color: $white;
	left: 50%;
	max-width: $wide;
	position: fixed;
	top: var(--wp-admin--admin-bar--height, 0px);
	transform: translatex(-50%);
	width: 90%;
	z-index: 100;
	> .header_container {
		transition: all 300ms ease;
	}
	.wp-block-site-logo {
		transition: all 300ms ease;
		width: 200px;
	}
	body.scrolled & {
		box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
		.wp-block-site-logo {
			width: 140px;
		}
		> .header_container {
			padding-bottom: 12px !important;
			padding-top: 12px !important;
		}
	}

	/* #region width <= 1000px */
	@media only screen and (width <= 1000px) {
		.wp-block-site-logo {
			width: 170px;
		}
	}
	/* #endregion width <= 1000px */
	/* #region width <= 900px */
	@media only screen and (width <= 900px) {
		.wp-block-navigation__responsive-container-open {
			display: flex;
		}
		.wp-block-navigation__responsive-container {
			border-radius: 40px;
			&:not(.hidden-by-default):not(.is-menu-open) {
				display: none;
			}
			&.is-menu-open {
				overflow: visible;
				padding: 0;
				.wp-block-navigation__responsive-container-content {
					padding-top: 30px;
				}
			}
		}
		.wp-block-navigation__responsive-dialog {
			background: $white;
			box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
			margin-top: 0 !important;
			padding: 30px 20px 50px;
		}
		.wp-block-navigation__responsive-container-close {
			right: 20px;
			top: 20px;
		}
	}
	/* #endregion width <= 900px */
	/* #region width <= 460px */
	@media only screen and (width <= 460px) {
		width: 100%;
		> .header_container {
			padding-left: 18px !important;
			padding-right: 18px !important;
		}
		body.scrolled & {
			top: 0;
		}
	}
	/* #endregion width <= 460px */
}