@use 'sass:math' as math;

$white: #fff;
$black: #1f1f1f;
$primary: #1c365b;
$secondary: #1c365b;
$tertiary: $secondary;
$light-background: #f7f7f7;


/* #region Widths */
$wide: var(--wp--style--global--wide-size, 1400px);
$regular: var(--wp--style--global--content-size, 750px);
/* #endregion Widths */

/* #region Font Definitions */
$font-stack: 'Albert Sans', Arial, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
$header-font-stack: $font-stack;
$serif-font: 'IBM Plex Serif', 'Times', 'Times New Roman', serif;
/* #endregion Font Definitions */

/* #region Clamp Function for Responsive Typography */
$clamp-view-min: 400;
$clamp-view-max: 1100;
$clamp-default-unit: rem;
$clamp-base-font-size: 16; // Base font size in px for rem conversion

@function strip-units($value) {
	@if unitless($value) {
		@return $value;
	}
	@return $value / ($value * 0 + 1);
}

@function px-to-rem($px-value) {
	@return strip-units($px-value) / $clamp-base-font-size;
}

@function create-clamp($max, $min, $for-font-size: true) {
	$unit: $clamp-default-unit;
	$value-min: strip-units($min);
	$value-max: strip-units($max);
	$viewport-min: $clamp-view-min;
	$viewport-max: $clamp-view-max;
	
	// Force rem units for font-sizes and convert px to rem if needed
	@if $for-font-size {
		$unit: rem;
		
		// Convert px values to rem
		@if unit($min) == 'px' {
			$value-min: px-to-rem($min);
		}
		@if unit($max) == 'px' {
			$value-max: px-to-rem($max);
		}
		
		// Convert viewport values to rem for consistent units
		$viewport-min: calc($clamp-view-min / $clamp-base-font-size);
		$viewport-max: calc($clamp-view-max / $clamp-base-font-size);
	} @else {
		// Use original unit detection for non-font-size values
		$unit: if(unit($min) != "", unit($min), if(unit($max) != "", unit($max), $clamp-default-unit));
	}
	
	$dividend: $value-max - $value-min;
	$divisor: $viewport-max - $viewport-min;
	$slope: math.div($dividend, $divisor);
	$intercept: $value-min - $slope * $viewport-min;

	@return clamp(#{$value-min}#{$unit}, #{$intercept}#{$unit} + #{$slope * 100}vw, #{$value-max}#{$unit});
}
/* #endregion Clamp Function for Responsive Typography */

/* #region Font Sizes */
$small: var(--wp--preset--font-size--small, 0.875rem);
$normal: var(--wp--preset--font-size--normal, 1rem);
$medium: var(--wp--preset--font-size--medium, 1.125rem);
$medium-font-size: $medium;
$large: var(--wp--preset--font-size--large, clamp(1.125rem, .2857vw + 1.0536rem, 1.25rem));
$large-font-size :$large;
$h4-font-size: var(--wp--preset--font-size--h4-font-size, clamp(1.125rem, .8571vw + .9107rem, 1.5rem));
$h3-font-size: var(--wp--preset--font-size--h3-font-size, clamp(1.25rem, 1.7143vw + .8214rem, 2rem));
$h2-font-size: var(--wp--preset--font-size--h2-font-size, clamp(1.5rem, 2.2857vw + .9286rem, 2.5rem));
$h1-font-size: var(--wp--preset--font-size--h1-font-size, clamp(2.25rem, 4.5714vw + 1.1071rem, 4.25rem));
/* #endregion Font Sizes */

/* #region Spacing */
$sp20: var(--wp--preset--spacing--20, 0.25rem);
$sp30: var(--wp--preset--spacing--30, 0.625rem);
$sp40: var(--wp--preset--spacing--40, 1rem);
$sp50: var(--wp--preset--spacing--50, 1.5rem);
$sp60: var(--wp--preset--spacing--60, clamp(2.25rem, 1.1429vw + 1.9643rem, 2.75rem));
$sp70: var(--wp--preset--spacing--70, clamp(3rem, 2.8571vw + 2.2857rem, 4.25rem));
$sp80: var(--wp--preset--spacing--80, clamp(4.5rem, 4.5714vw + 3.3571rem, 6.5rem));
/* #endregion Spacing */

/* #region Border Radius */
$br-20: 4px;
$br-sm: $br-20;
$br-medium: 6px;
$br-m: $br-medium;
$br-large: 12px;
$br-l: $br-large;
$br-button: 30px;
$br-separator: 5px;
/* #endregion Border Radius */

/* #region Inline Icons */
$mail-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z'/%3E%3C/svg%3E");
$phone-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M144 128C144 92.7 172.7 64 208 64L432 64C467.3 64 496 92.7 496 128L496 512C496 547.3 467.3 576 432 576L208 576C172.7 576 144 547.3 144 512L144 128zM208 128L208 432L432 432L432 128L208 128zM320 536C337.7 536 352 521.7 352 504C352 486.3 337.7 472 320 472C302.3 472 288 486.3 288 504C288 521.7 302.3 536 320 536z'/%3E%3C/svg%3E");
$caret-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M300.3 440.8C312.9 451 331.4 450.3 343.1 438.6L471.1 310.6C480.3 301.4 483 287.7 478 275.7C473 263.7 461.4 256 448.5 256L192.5 256C179.6 256 167.9 263.8 162.9 275.8C157.9 287.8 160.7 301.5 169.9 310.6L297.9 438.6L300.3 440.8z'/%3E%3C/svg%3E");
%mask-icon {
	background-color: $primary;
	content: "";
	height: 18px;
	left: -2px;
	mask-image: $mail-icon;
	mask-position: center;
	mask-repeat: no-repeat;
	position: absolute;
	top: 4px;
	width: 18px;
}
/* #region Social Icons */
%social-icon {
	padding-left: 29px;
	&::before {
		@extend %mask-icon;
		background-color: $primary;
		border-radius: 4px;
		content: "";
		display: inline-block;
		height: 22px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 1px;
		width: 22px;
	}
}
/* .social-menu .fab {
	@extend %social-icon;
	&.fa-linkedin::before {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M512 96L127.9 96C110.3 96 96 110.5 96 128.3L96 511.7C96 529.5 110.3 544 127.9 544L512 544C529.6 544 544 529.5 544 511.7L544 128.3C544 110.5 529.6 96 512 96zM231.4 480L165 480L165 266.2L231.5 266.2L231.5 480L231.4 480zM198.2 160C219.5 160 236.7 177.2 236.7 198.5C236.7 219.8 219.5 237 198.2 237C176.9 237 159.7 219.8 159.7 198.5C159.7 177.2 176.9 160 198.2 160zM480.3 480L413.9 480L413.9 376C413.9 351.2 413.4 319.3 379.4 319.3C344.8 319.3 339.5 346.3 339.5 374.2L339.5 480L273.1 480L273.1 266.2L336.8 266.2L336.8 295.4L337.7 295.4C346.6 278.6 368.3 260.9 400.6 260.9C467.8 260.9 480.3 305.2 480.3 362.8L480.3 480z'/%3E%3C/svg%3E");
	}
	&.fa-facebook::before {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M160 96C124.7 96 96 124.7 96 160L96 480C96 515.3 124.7 544 160 544L258.2 544L258.2 398.2L205.4 398.2L205.4 320L258.2 320L258.2 286.3C258.2 199.2 297.6 158.8 383.2 158.8C399.4 158.8 427.4 162 438.9 165.2L438.9 236C432.9 235.4 422.4 235 409.3 235C367.3 235 351.1 250.9 351.1 292.2L351.1 320L434.7 320L420.3 398.2L351 398.2L351 544L480 544C515.3 544 544 515.3 544 480L544 160C544 124.7 515.3 96 480 96L160 96z'/%3E%3C/svg%3E");
	}
	&.fa-xing::before {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M544 160C544 124.7 515.3 96 480 96L160 96C124.7 96 96 124.7 96 160L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 160zM189.8 384.2C184.3 384.2 181.1 378.9 183.8 373.9L233.1 287.2C233.2 287.2 233.2 287.1 233.1 287L201.7 233C198.7 227.4 201.9 222.9 207.7 222.9L254.3 222.9C259.5 222.9 263.8 225.8 267.2 231.6L299.1 286.9C297.8 289.2 281.1 318.6 249 375.1C245.5 381.3 241.3 384.2 236.4 384.2L189.8 384.2zM353.3 350.8L353.3 351L418.8 470C421.6 475.1 418.9 480.1 412.8 480.1L366.2 480.1C360.7 480.1 356.5 477.2 353.3 471.4L287.3 351.1C289.1 347.9 310.2 310.7 350.6 239.5C362.3 218.8 375.7 195.2 390.7 168.7C394 162.9 398.1 160 403.2 160L450.1 160C455.8 159.9 458.9 164.7 456.1 170L353.3 350.8z'/%3E%3C/svg%3E");
	}
	&.fa-instagram::before {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M290.4 275.7C274 286 264.5 304.5 265.5 323.8C266.6 343.2 278.2 360.4 295.6 368.9C313.1 377.3 333.8 375.5 349.6 364.3C366 354 375.5 335.5 374.5 316.2C373.4 296.8 361.8 279.6 344.4 271.1C326.9 262.7 306.2 264.5 290.4 275.7zM432.7 207.3C427.5 202.1 421.2 198 414.3 195.3C396.2 188.2 356.7 188.5 331.2 188.8C327.1 188.8 323.3 188.9 320 188.9C316.7 188.9 312.8 188.9 308.6 188.8C283.1 188.5 243.8 188.1 225.7 195.3C218.8 198 212.6 202.1 207.3 207.3C202 212.5 198 218.8 195.3 225.7C188.2 243.8 188.6 283.4 188.8 308.9C188.8 313 188.9 316.8 188.9 320C188.9 323.2 188.9 327 188.8 331.1C188.6 356.6 188.2 396.2 195.3 414.3C198 421.2 202.1 427.4 207.3 432.7C212.5 438 218.8 442 225.7 444.7C243.8 451.8 283.3 451.5 308.8 451.2C312.9 451.2 316.7 451.1 320 451.1C323.3 451.1 327.2 451.1 331.4 451.2C356.9 451.5 396.2 451.9 414.3 444.7C421.2 442 427.4 437.9 432.7 432.7C438 427.5 442 421.2 444.7 414.3C451.9 396.3 451.5 356.9 451.2 331.3C451.2 327.1 451.1 323.2 451.1 319.9C451.1 316.6 451.1 312.8 451.2 308.5C451.5 283 451.9 243.6 444.7 225.5C442 218.6 437.9 212.4 432.7 207.1L432.7 207.3zM365.6 251.8C383.7 263.9 396.2 282.7 400.5 304C404.8 325.3 400.3 347.5 388.2 365.6C382.2 374.6 374.5 382.2 365.6 388.2C356.7 394.2 346.6 398.3 336 400.4C314.7 404.6 292.5 400.2 274.4 388.1C256.3 376 243.8 357.2 239.5 335.9C235.2 314.6 239.7 292.4 251.7 274.3C263.7 256.2 282.6 243.7 303.9 239.4C325.2 235.1 347.4 239.6 365.5 251.6L365.6 251.6zM394.8 250.5C391.7 248.4 389.2 245.4 387.7 241.9C386.2 238.4 385.9 234.6 386.6 230.8C387.3 227 389.2 223.7 391.8 221C394.4 218.3 397.9 216.5 401.6 215.8C405.3 215.1 409.2 215.4 412.7 216.9C416.2 218.4 419.2 220.8 421.3 223.9C423.4 227 424.5 230.7 424.5 234.5C424.5 237 424 239.5 423.1 241.8C422.2 244.1 420.7 246.2 419 248C417.3 249.8 415.1 251.2 412.8 252.2C410.5 253.2 408 253.7 405.5 253.7C401.7 253.7 398 252.6 394.9 250.5L394.8 250.5zM544 160C544 124.7 515.3 96 480 96L160 96C124.7 96 96 124.7 96 160L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 160zM453 453C434.3 471.7 411.6 477.6 386 478.9C359.6 480.4 280.4 480.4 254 478.9C228.4 477.6 205.7 471.7 187 453C168.3 434.3 162.4 411.6 161.2 386C159.7 359.6 159.7 280.4 161.2 254C162.5 228.4 168.3 205.7 187 187C205.7 168.3 228.5 162.4 254 161.2C280.4 159.7 359.6 159.7 386 161.2C411.6 162.5 434.3 168.3 453 187C471.7 205.7 477.6 228.4 478.8 254C480.3 280.3 480.3 359.4 478.8 385.9C477.5 411.5 471.7 434.2 453 452.9L453 453z'/%3E%3C/svg%3E");
	}
	&.fa-youtube::before {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M378 320.2L282.8 266.1L282.8 374.3L378 320.2zM480 96L160 96C124.7 96 96 124.7 96 160L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 160C544 124.7 515.3 96 480 96zM494.4 232.1C502 260.7 502 320.3 502 320.3C502 320.3 502 379.9 494.4 408.4C490.2 424.2 477.9 436.1 462.2 440.3C433.9 448 320 448 320 448C320 448 206.1 448 177.8 440.4C162.1 436.2 149.8 424.3 145.6 408.5C138 379.9 138 320.3 138 320.3C138 320.3 138 260.6 145.6 232.1C149.8 216.3 162.1 203.9 177.8 199.7C206.1 192 320 192 320 192C320 192 433.9 192 462.2 199.7C477.9 203.9 490.2 216.3 494.4 232.1z'/%3E%3C/svg%3E");
	}
}
 */
/* #endregion Social Icons */
/* #endregion Inline Icons */

/* #region Buttons */
%pretty-button {
	background-color: $primary;
	border-radius: $br-button;
	border: 1px solid $primary;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.7;
	padding: 8px 24px;
	position: relative;
	text-decoration: none;
	transition: all 300ms ease;
	&::after {
		background-color: $white;
		content: "";
		height: 16px;
		mask-image: url("./assets/img/arrow-right.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translatey(-45%);
		transition: all 300ms ease;
		visibility: hidden;
		width: 16px;
	}
	&:hover {
		background-color: $primary;
		/* border-radius: 0 30px 0 30px; */
		padding: 8px 32px 8px 16px;
		&::after {
			opacity: 1;
			right: 10px;
			visibility: visible;
		}
	}
}
%white-button {
	background-color: $white;
	border-color: $white;
	color: $primary;
	&:hover {
		background-color: $white;
		border-color: $white;
		color: $primary;
	}
	&::after {
		background-color: $primary;
	}
}
%naked-button {
	background: transparent;
	border: none;
	color: $black;
	display: inline-block;
	font-weight: 700;
	padding: 0 3rem 0 0;
	position: relative;
	text-decoration: none;
	transition: all 300ms ease;
	&:hover {
		text-decoration: underline;
		&::after {
			right: 0.75rem;
		}
	}
	&::after {
		aspect-ratio: 1;
		background-color: $black;
		content: "";
		height: auto;
		mask-image: url("./assets/img/arrow-right.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		opacity: 1;
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translatey(-50%);
		transition: all 500ms ease;
		visibility: visible;
		width: 1.25em;
	}
	&.et_pb_bg_layout_light {
		&::after {
			background-color: $black;
		}
	}
}
%small-button {
	@extend %pretty-button;
	padding: 5px 20px;
	&::after {
		font-size: 1em !important;
		right: 12px;
	}
	&:hover {
		padding: 5px 25px 5px 15px;
		&::after {
			right: 8px;
		}
	}
}
/* #endregion Buttons */

/* #region Lists */
%pretty-list {
	list-style: none;
	padding-left: 0;
	li {
		padding-bottom: 5px;
		padding-left: 20px;
		position: relative;
		&::before {
			background-color: $secondary;
			border-radius: $br-large;
			content: "";
			height: 3px;
			left: 0;
			top: 12.5px;
			position: absolute;
			width: 10px;
		}
		a {
			color: $primary;
			text-decoration: none;
		}
	}
}
/* #endregion Lists */

/* #region Fullheight Sections */
%fullheight {
	min-height: 100vh;
}
.admin-bar {
	%fullheight {
		min-height: calc(100vh - 32px);
	}
}
/* #region max-width 782px */
@media only screen and (max-width: 782px) {
	.admin-bar {
		%fullheight {
			min-height: calc(100vh - 46px);
		}
	}
}
/* #endregion */
/* #endregion Fullheight Sections */

/* #region Placeholder Mixin */
@mixin placeholder ($color: #333, $opacity: 0.8) {
	&::-webkit-input-placeholder { // Chrome/Opera/Safari
		color: $color;
		opacity: $opacity;
	}
	&::-moz-placeholder { // Firefox 19+
		color: $color;
		opacity: $opacity;
	}
	&:-ms-input-placeholder { // IE 10+
		color: $color;
		opacity: $opacity;
	}
	&:-moz-placeholder { // Firefox 18-
		color: $color;
		opacity: $opacity;
	}
}
/* #endregion Placeholder Mixin */

/* #region Forms & Selects */
%pretty-select {
	overflow: hidden;
	position: relative;
	&::before {
		@extend %mask-icon;
		background-color: $black;
		bottom: 12px;
		content: "";
		left: auto;
		mask-image: $caret-icon;
		pointer-events: none;
		position: absolute;
		right: 7px;
		top: auto;
		z-index: 10;
	}
	select {
		-webkit-appearance: none;
		appearance: none;
		background: $light-background;
		border: none;
		border-radius: $br-sm;
		cursor: pointer;
		font-size: 1rem;
		outline: none;
		padding: .75rem .5rem;
		position: relative;
		width: 100%;
	}
}
/* #region Inputs */
%pretty-input {
	background-color: $light-background;
	border-radius: $br-sm;
	border: none;
	color: $black;
	font-family: $font-stack;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7;
	padding: 0.5rem 0.8rem !important;
	transition: all 300ms ease;
	// transition: all 200ms ease;
	&:focus, &:active {
		border: none;
	}
	&:focus-visible {
		outline: 1px dashed $primary;
		outline-offset: 2px;
	}
	@include placeholder($black, '0.8');
}
%pretty-input:not([type="checkbox"]) { width: 100%; }
%pretty-input[type="checkbox"] { cursor: pointer; }
%pretty-checkbox {
	input[type="checkbox"] {
		display: none;
		visibility: hidden;
	}
	input[type="checkbox"] {
		+ label {
			padding-left: 35px;
			position: relative;
			&::before {
				content: "";
				cursor: pointer;
				border: 1px solid $primary;
				border-radius: 2px;
				left: 0;
				height: 20px;
				top: 6px;
				width: 20px;
				position: absolute
			}
		}
		&:checked + label {
			&::before {
				background-color: $secondary;
				border-color: $secondary;
			}
		}
	}
}
/* #endregion */
/* #endregion */
/* #region details / summary Support */
details {
	margin-top: 5px;
	summary {
		color: $primary;
		cursor: pointer;
		display: inline-block;
		list-style: none;
		transition: all 350ms ease;
		text-decoration: underline;
		&::-webkit-details-marker {
			display: none; /* don't show Triangle */
		}
	}
	&:hover, &[open] {
		summary {
			text-decoration: none;
		}
	}
	&[open] {
		summary {
			margin-bottom: 7px;
		}
	}
}
/* #endregion details / summary Support */
